<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">


<hibernate-configuration>

	<session-factory>
		<!--Database Connectivity -->
		<property name="connection.driverClassName">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/batch31_hbm1</property>
		<property name="connection.username">root</property>
		<property name="connection.password">root</property>

		<!-- Hibernate Properties -->
		
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<!--dialect:- which query should be executed -->

		<property name="hibernate.hbm2ddl.auto">update</property>

		<property name="hibernate.show_sql">true</property>


		<mapping resource="student.hbm.xml" />

	</session-factory>

</hibernate-configuration>